    * {
      box-sizing: border-box;
      scroll-behavior: smooth;
    }

    div {
      margin: 0;
    }

    /* Set text decoration for all links to none*/
    a {
      text-decoration: none;
    }

    @media only screen and (max-width: 768px) {
      /* For Mobile */
      #custom_display img{
        width: 100%;
        margin: 0;
      }
      #custom_display button{
        position: fixed;
        right: 0;
        top: 6px;
      }
      .custom_display{
        width: 100%;
      }
    }

    @media only screen and (min-width: 768px) {
      /* For Tablets */
      #custom_display img{
        width: 30%;
        margin: 0;  
      }
      #custom_display button{
        position: fixed;
        right: 0;
        top: 10px;
      }
      
    }

    /* Customize the scrollbar */
    ::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: white;
      border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 10px;
    }
