    * {
      box-sizing: border-box;
      scroll-behavior: smooth;
    }

    div {
      margin: 0;
    }

    /* Set text decoration for all links to none*/
    a {
      text-decoration: none;
    }
    
    div.relative {
      position: relative;
  } 
  
    div.absolute {
      position: absolute;
      top: 30px;
      right: 50px;
  }

    @media only screen and (max-width: 992px) {
      /* For Mobile */
      .custom_display img{
        width: 100%;
        margin: 0;
      }
      .custom_display_tab{
        width: 100%;
      }

      .custom_display_tab img{
        width: 50%;
      }
      
      .custom_display_tab button{
        position: fixed;
        right: 0;
        top: 4px;
        font-size: 40px;
      }
    }

    /* Customize the scrollbar */
    ::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: white;
      border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 10px;
    }
